<%= render(:partial => 'shared/header', :locals => {
  :location => 'top',
  :runnable => false,
  :function => 'Show',
  :authorable_object => @vendor_interface,
  :all_viewable_objects => @all_viewable_vendor_interfaces, 
  :all_editable_objects => @all_editable_vendor_interfaces }) %>

<div class="pageEdit">
  <p><span class="SectionTitle">Name: </span><%= @vendor_interface.name %></p>
  <p><%= image_tag @vendor_interface.image %></p>
  <p><span class="SectionTitle">Description: </span><%= @vendor_interface.description %></p>
  <p><span class="SectionTitle">Communications Protocol: </span><%= @vendor_interface.communication_protocol %></p>
  <p><span class="SectionTitle">Device config strings: </span><p>
  <% if device_configs = @vendor_interface.device_configs %>
    <ol>
      <% device_configs.each do |dc| %>
        <li><%= link_to dc.config_string, device_config_path(dc) %>
      <% end %>
    </ol>
  <% end %>
</div>
