<%= error_messages_for :report %>

<p><span class="SectionTitle">Name: </span><%= form.text_field :name, :size => 72 %></p>
  
<p><span class="SectionTitle">Description </span><%= form.text_area :description, :cols => 72, :rows => 2 %></p>

<p><span class="SectionTitle">Public: </span><%= form.check_box :public %></p>

<p>
  <span class="SectionTitle">Select the activity: </span>
  <%= form.select(:reportable_id, ExternalOtrunkActivity.find(:all).collect {|i| ["#{i.id}: #{i.name}", i.id ]}) %>
</p>

<p>
  
  <span class="SectionTitle">Select the report template: </span>
  <% otrunk_report_templates = OtrunkReportTemplate.find(:all).collect {|i| ["#{i.id}: #{i.name}", i.id]} %>
  <%= form.select(:otrunk_report_template_id, otrunk_report_templates) %>
  
</p>

<p>Leave the following options blank unless you know what you're doing:</p>

<p><span class="SectionTitle">Custom sds offering id: </span><%= form.text_field :custom_offering_id, :size => 7 %></p>

<p><span class="SectionTitle">Custom sds workgroup id: </span><%= form.text_field :custom_workgroup_id, :size => 7 %></p>

