<%= render(:partial => 'shared/header', :locals => {
  :location => 'top',
  :runnable => false,
  :function => 'Index',
  :authorable_object_class => Report, 
  :authorable_object_pages => @report_pages,
  :all_viewable_objects => @all_viewable_reports, 
  :all_editable_objects => @all_editable_reports }) %> 

<div class="activityList">
<table cellpadding="5" cellspacing="0">
    <% for report in @reports %>
      <tr align="left" class="ListLine<%= cycle('0', '1') -%>">
        <td width="20px" >
          <%= link_to 'Show', report_path(report), :title => 'Show the model type specification' %><br />
          <% restrict_to 'admin || manager' do %>
              <%= link_to 'Edit', edit_report_path(report), :title => "Make changes in #{report.name}." %><br />
          <% end %>              
        </td>
        <td width="100%">
          <span class="listTitle"><%= report.id %>: <%= h(report.name) %></span><br />
          <%= h(truncate(report.description, 160)) %><br />
          <span class="modelAttribute">
            DIY Author: <strong><%= (report.user ? report.user.name : "") %></strong>, 
          </span>
        </td>
      </tr>
    <% end %>
</table>
</div>
